{% extends 'base.html' %}

{% block title %}
	注册
{% endblock %}

{% block head %}
	<script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'jquery/register.js' %}"></script>
{% endblock %}

{% block main %}

    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog"
         id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                    <h1 class="fw-bold mb-0 fs-2">欢迎注册</h1>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-3" name="username"
                            placeholder="username">
                            <label for="floatingInput">用户名</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" name="email"
                                   placeholder="name@example.com">
                            <label for="floatingInput">邮箱账号</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" name="password"
                                   placeholder="Password" >
                            <label for="floatingPassword">密码</label>
                        </div>
                        <div>
                            <label for="formGroupExampleInput" class="form-label ">验证码</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control rounded-3" name="captcha"
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="captcha-btn">获取验证码</button>
                            </div>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">立即注册</button>
                        <hr class="my-4">
                        <h2 class="fs-5 fw-bold mb-3">欢迎入驻</h2>
                        <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
                            <svg class="bi me-1" width="16" height="16">
                                <use xlink:href="#twitter"></use>
                            </svg>
                            管理员登录
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
