{% extends 'base.html' %}

{% block title %}
	搜索商品
{% endblock %}

{% block main %}

    <div class="album py-5 bg-light rounded m-4">
      <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in products %}
              <div class="col">
                  <div class="card shadow-sm">
                      <a href="{{ product.get_absolute_url }}">
                          <img src="{{ product.image.url }}" class="d-block w-100 border-bottom" alt="{{ product.name }}" height="250px">
                      </a>
                      <div class="card-body">
                          <p class="card-text display-5">{{ product.name}}</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <a href="" type="button" class="btn btn-sm btn-outline-secondary">查看詳情</a>
                              </div>
                              <p class="display-6 text-danger ">￥{{ product.price }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
      </div>
  </div>

{% endblock %}